.carousel-indicators [data-bs-target] {
    background-color: #F873AF;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.carousel-indicators {
  bottom: -40px;
}
.carousel-indicators .active {
  background-color: #292933; 
}